body{
    background-color: #2F3241;
}
.formulario {
    position: relative;
    left: 470px;
    margin-top: 3%;
    display: inline-block;
    height: 500px;
    width: 400px;
    min-height: 25px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.6;
    background-color: rgb(228, 228, 228);
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
  }
  .form-control-alento {
    display: inline;
    width: 300px;
    min-height: 25px;
    margin-top: -20px;
    margin-left: 0px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    cursor: text;
  }
  .form-control-alento:focus {
    border-color: #6db3fd;
    box-shadow: 1px 1px 0 #6db3fd, -1px -1px 0 #6db3fd, -1px 1px 0 #6db3fd, 1px -1px 0 #6db3fd;
  }
  #positionform{
      position: relative;
      left: 40px;
  }
  #registrar{
    background-color: #2f3241;
    color: #F6F8F8;
    border-radius: 8px;
    border-color: transparent;
    height: 40px;
    width: 90px;
    position: relative;
    top: 30px;
    left: 140px;
    margin-right: 8%;
  }
  #registrar:hover{
    background-color: #42475c;
  }

  @media only screen and (max-width: 800px){

    .formulario {
      position: relative;
      left: 200px;
      margin-top: 2%;
      display: inline-block;
      height: 490px;
      width: 400px;
      min-height: 25px;
      padding: 5px 10px;
      font-size: 13px;
      line-height: 1.6;
      background-color: rgb(228, 228, 228);
      border: 1px solid #ddd;
      border-radius: 4px;
      outline: none;
      overflow: hidden;
    }

  }
  